body
{
    margin: 0%;
}

.header
{
    display: flex;
    background-color: grey;
}
.column
{
    flex: 1;
}

.logo > img
{
    width: 30%;
}

.logo
{
    width: 15%;
}

.menu > ul> li
{
    display: inline-block;
}

.menu
{
    margin-top: 55px;
}

.container
{
    display: flex;
    margin-top: 30px;
}


.container > .column > img
{
    width: 60%;
    margin-left: 20%;
}

main > h1
{
    text-align: center;
}