.firstH1 /*selector*/
{
    color: red; /*style*/
    /*style atribute : value*/
    margin-left: 90% ;
}

h1 
{
    color: blue;
}


.left
{
    width: 35%;
    float: left;
}

.right
{
    width: 50%;
    float: right;
}

.container
{
    overflow: hidden;
}

.image 
{
    width: 50%;
    margin-left:30% ;
}